@import '@nativescript/theme/css/core.css';

.ns-root { background-color: #202c3d; }

ActionBar {
    color: #a0abae;
    background-color: #352f49;
}

DockLayout {
    color: #a0abae;
    background-color: #202c3d;
}

Button.bottom {
    color: #202c3d;
    background-color: #af9a0a;
}

Button.action {
    color: #202c3d;
    background-color: #8196e8;
    width: 33%;
}

Label {
    color: #919ab9;
}
